{{define "style"}}
body {
    background-color: black;
    margin: 0; 
}

#backgroundconciergerie {
    background-image: url("{{ ( resources.GetMatch "img/conciergerieBG1 (2).jpg").Permalink }}");
    background-repeat: no-repeat;
    background-size:cover;
}

#h1gaintemps, #diffservices, #partenaires {
   color:white;
}



.display-5 { 
    margin-bottom: 50px;
}

.services {
    display: flex;
    justify-content: space-around;
}

.rounded {
    display:flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 100px;
}

@media (max-width: 880px) {
    .services {
        flex-direction: column; /* Les éléments flexibles seront empilés les uns sur les autres */
        align-items: center; /* Centrer les éléments lorsqu'ils sont empilés */
    }
  
    .card {
        margin-bottom: 20px; 
    }
  }

  @media (max-width: 700px) {
    .img {
        flex-direction: column;
        align-items: center;
    }

    .img img {
        display: block;
        margin-bottom: 10px;
    }
}
  


{{ end }}
{{ define "main" }}
<div class="px-4 py-5 text-center ggg" id="backgroundconciergerie">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><strong>{{ .Params.accroche}}</strong></p>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center" id="h1gaintemps">
    <h1 class="display-5 fw-bold">{{ .Params.h1gaintemps }}</h1>
    <p>{{ .Params.txtavantage1 }}</p>
    <p>{{ .Params.txtavantage2 }}</p>
    <p>{{ .Params.txtavantage3 }}</p>
    <a href="{{ "contact" | relURL }}"><button type="button" class="btn btn-light">Contact</button></a>     

</div>
{{ end }}
