{{ define "style" }}

body {
    background-color: black;
    color: white;
    margin: 0; 
}

.valeurs {
    display: flex;
    justify-content: space-around;
}

.display {
    display: flex;
    justify-content: center;
}

#titlevaleurs {
    display: flex;
    justify-content: center;
    text-align:center;
    margin-bottom: 100px;
}

#titleEquipe {
    margin-bottom: 50px;

}

{{ end }}

{{ define "main" }}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">{{ .Params.titleQSN }}</h1>
    <img class="d-block mx-auto mb-4" src="{{ ( resources.GetMatch "img/logo1.png").Permalink }}" alt="" width="250" height="150">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ .Params.descriptif1 }}</p>
    </div>
</div>




<h1 class="display-5 fw-bold" id="titlevaleurs" >{{ .Params.titlevaleurs }}</h1>
<div class="valeurs">
    {{ range .Params.valeurs }}
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ .nom }}</h5>
            <p class="card-text">{{ .phrase }}</p>
        </div>
    </div>
    {{ end }}
</div>


<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold" id="titleEquipe" >{{ .Params.titleEquipe }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ .Params.descriptif2 }}</p>
    </div>
    <a href="{{ "contact" | relURL }}"><button type="button" class="btn btn-light">Contact</button></a>
</div>



{{ end }}