{{define "style"}}

{{ end }}
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-muted">&copy; 2024</p>
        </div>
    
        <div class="col mb-3">
    
        </div>
    
        <div class="col mb-3">
        <h5><a href="#" class="nav-link p-0 text-muted">Nos différents services</a></h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Travaux / Rénovation</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Conciergerie / Prestations de services</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Conseil et Gestion</a></li>
        </ul>
        </div>
    
        <div class="col mb-3">
        <h5><a href="#" class="nav-link p-0 text-muted">Contactez-nous</a></h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">11, Avenue de la Baltique, Villebon-sur-Yvette</li>
            <li class="nav-item mb-2">+33 6 51 37 59 74</li>
            <li class="nav-item mb-2">contact@killbeokingston.fr</li>
        </ul>
        </div>
        
    </footer>
    </div>


