{{ define "style" }}


{{ end }}



<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ $.Site.BaseURL }}">
            <img class="d-inline-block align-top" width="150" height="100" src="{{ ( resources.GetMatch "img/logo1.png").Permalink }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        {{range where .Site.RegularPages "Section" "services"}}
                        <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{range .Site.Menus.main}}
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
