  {{ define "style" }}
  body {
    background-color: black;
    color: white;
    margin: 0; 
  }

  .bg-hero {
    background-image: url("{{ ( resources.GetMatch "img/accueilbg.jpg").Permalink }}");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
  .bg-hero p {
    font-weight: 900;
    margin-top: 70px;
  }
  .bg-hero h1 {
    margin-top: 0px;
  }
  .card {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: black; 
    height: 300px; 
    width: 300px;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay h5,
  .overlay .btn {
    margin: 10px 0; 
  }

  .servicesAccueil {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
  }

  #card1 {
    background-image: url("{{ ( resources.GetMatch "img/travauxbg.png").Permalink }}");
  }

  #card2 {
    background-image: url("{{ ( resources.GetMatch "img/conciergeriebg.png").Permalink }}");
  }

  #card3 {
    background-image: url("{{ ( resources.GetMatch "img/conseilbg.png").Permalink }}");
  }

  @media (max-width: 880px) {
    .servicesAccueil {
        flex-direction: column; /* Les éléments flexibles seront empilés les uns sur les autres */
        align-items: center; /* Centrer les éléments lorsqu'ils sont empilés */
    }

    .card {
        margin-bottom: 20px; 
    }
  }

  {{ end }}


  {{ define "main" }}


  <div class="container-fluid bg-hero">
      <div class="px-4 py-5 text-center">
          <h1 class="display-5 fw-bold">{{ .Title }}</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-5">{{ .Params.accroche }} <br><br> {{ .Params.phraserouge }}</p>
          </div>
      </div>
  </div>

  <h1 class="px-4 py-5 text-center"><strong>{{ .Params.txtdiffservices }}</strong></h1>


  <div class="servicesAccueil">  
    <div class="card" id="card1">
      <div class="overlay">
        <h5>Travaux / Rénovation / Dépannage</h5>
        <a href="{{ "services/travaux" | relURL }}" class="btn btn-dark">Découvrir</a>
      </div>
    </div>

    <div class="card" id="card2">
      <div class="overlay">
        <h5>Conciergerie / Prestations de services</h5>
        <a href="{{ "services/conciergerie" | relURL }}" class="btn btn-dark">Explorer</a>
      </div>
    </div>

    <div class="card" id="card3">
      <div class="overlay">
        <h5>Conseil et Gestion</h5>
        <a href="{{ "services/conseil" | relURL }}" class="btn btn-dark">En savoir plus</a>
      </div>
    </div>  
  </div>
  {{end}}